{% extends 'layout1.html.twig' %}
           {% block content %}

<div id="corps">
        	<div class="container">
         {{ form_start(form, {'attr': {'class': 'formulaire' , 'method':'post','action':'/mot-de-passe-oublier' }}) }}

	<h1 class="">Lost password</h1>
	
	<p class="margeur-20 fs-16">
					Enter your e-mail address below to reset your password.
			</p>
	
	<div class="clearer"></div><div class="margeur-20"></div>

	<div class="form-element ">
		<div class="fleft">
			<label for="email">
				E-mail <span class="rouge">*</span>
			</label>
			
			<div class="champ">
            {{form_widget (form.email, {'attr': {'class': 'type-text','value':''}}) }}

			</div>
			
			<div class="clearer"></div>
		</div>
		
		<div class="fleft aide">
			<div class="infos">
				
			</div>
			
			<div class="erreurs">
																</div>
		</div>
		
		<div class="clearer"></div>
	</div>
	
	<div class="form-element fright" id="bouton_haut">
                {{form_widget (form.submit, {'attr': {'class': 'super button green','value':'OK'}}) }}

	</div>
    					{{ form_row(form._token) }}

</form>        		        	</div>
        </div>
{% endblock %}