{% extends 'layout1.html.twig' %}
{% block content %}
<div id="corps">
   <div class="container">
        		        			<h1 class="">Registration effectué avec succes </h1>
	
<p class="fs-16 margeur-20">
	Un e-mail vous a été envoyé à <strong> pour pouvoir activer votre compte</strong>. 
</p>
        		
<p class="fs-16 margeur-20">
	Si vous n'avez pas reçu cet e-mail, vérifiez vos courriers indésirables ou contactez un administrateur.
</p>        		        	</div>
        </div>
        {% endblock %}