<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Mail de confirmation </title>
</head>
<body>
<p>
<h1> Mot de passe oublié </h1>
Bonjour,
Vous avez fait une demande de nouveau mot de passe sur 111-factory Business Plan. Afin de confirmer cette demande, veuillez cliquer sur le bouton ci-dessous.


    <a href="{{url1}}" class="btn btn-primary btn-lg square" role="button">Reinitialiser votre mot de passe</a>

    
  
 
</p>
 
<p>
<div>
 
</div>
   
</p>
</body>
</html>