
<!DOCTYPE HTML>
{% if app.user %}

<META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8"><META HTTP-EQUIV="Refresh" CONTENT="0; URL={{ path('dashboard')}}"><TITLE>Page has moved</TITLE>
<A HREF="{{ path('dashboard')}}"><h3>you are aleardy logged in...</h3></A>

{% else %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

                	<title>Montpellier Business Plan</title>
        
        <meta name="Description" content="Le Montpellier Business Plan vous permet gratuitement, en ligne ou hors ligne, et en toute sécurité de simuler vos chiffres financiers. Intégrant les modèles économiques les plus récents vous pourrez ainsi piloter votre activité avec une vision claire des flux financiers, que vous pouvez partager avec vos interlocuteurs." />
        <meta name="keywords" content="business plan, simulation financière, business model, SaaS, On line, En ligne, gratuit, ergonomique, flux financiers, comptabilité analytique, JEI, CIR, levée de fonds, financement privé" />

        <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700italic,600italic,600,400italic' rel='stylesheet' type='text/css'>

                	        		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/reset.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/generic.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery-ui-1.9.0.custom.min.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery.gritter.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery.jqzoom.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/buttons.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/breadcrumbs.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/alertify.core.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/alertify.default.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/modal.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/styles.css" rel="stylesheet" type="text/css" />
        	        
                	        		<link href="css/print.css" rel="stylesheet" type="text/css" media="print" />
        	        
        <link href="https://fast.fonts.com/cssapi/f05d5db4-4276-4aa0-b2f2-6567ca2132d9.css" rel="stylesheet" type="text/css" />

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-19329583-20', 'montpellier-business-plan.com');
          ga('send', 'pageview');

        </script>

        <!--[if IE 6]>
        	<link rel="stylesheet" type="text/css" ../css/ie6.css" media="screen" />
        <![endif]-->

        <script type="text/javascript">
        	var site_url = 'https://www.montpellier-business-plan.com/';
        	var base_url = 'https://www.montpellier-business-plan.com/';
        	var lang_url = 'en';
        	var current_url = 'https://www.montpellier-business-plan.com/en';
        </script>


                	        		<script src="js/jquery-1.10.2.min.js" type="text/javascript" ></script>
        	        		<script src="js/jquery-ui.min.js" type="text/javascript" ></script>
        	        		<script src="js/bootstrap.min.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.gritter.min.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.lightbox-0.5.min.js" type="text/javascript" ></script>
        	        		<script src="js/modal.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.general.js" type="text/javascript" ></script>
        	        		<script src="js/jqFancyTransitions.1.8.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.backgroundposition.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.scrollfollow.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.jqzoom-core-pack.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.animate-colors.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.token.js" type="text/javascript" ></script>
        	        		<script src="js/phpjs.min.js" type="text/javascript" ></script>
        	        		<script src="js/alertify.min.js" type="text/javascript" ></script>
        	        		<script src="js/highcharts.js" type="text/javascript" ></script>
        	        		<script src="js/highcharts-more.js" type="text/javascript" ></script>
        	        		<script src="js/highcharts.init.js" type="text/javascript" ></script>
        	        		<script src="js//highcharts_modules/exporting.js" type="text/javascript" ></script>
        	        		<script src="js/homepage.js" type="text/javascript" ></script>
        	        
        
        
        <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="images/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>

    
    <body>
    	<div id="header" class="header-content">

          <!--[if lt IE 9]>
          <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
            <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
            <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
              <div style='width: 75px; float: left;'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-warning.jpg' alt='Warning!'/></div>
              <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
                <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>Vous utilisez un navigateur dépassé !</div>
                <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>Afin utiliser le Montpellier Business Plan correctement, prenez le temps de mettre votre navigateur à jour.</div>
              </div>
              <div style='width: 75px; float: left;'><a href='http://fr.www.mozilla.com/fr/' target='_blank'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
              <div style='width: 75px; float: left;'><a href='http://www.microsoft.com/fr-fr/download/internet-explorer.aspx' target='_blank'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer'/></a></div>
              <div style='width: 73px; float: left;'><a href='http://www.apple.com/fr/safari/download/' target='_blank'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
              <div style='float: left;'><a href='http://www.google.com/chrome?hl=fr' target='_blank'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
            </div>
          </div>
          <![endif]-->

    		<div class="container relative" style="height:115px;">
    			<!-- <div class="margeur-30 fleft">
    				<a ../en">
    					<img src="https://www.montpellier-business-plan.com/images/design/header/logo-mmm.jpg" alt="" />
    				</a>
    			</div>

    			<div class="fleft hidden-xs hidden-sm">
    				<a ../en">
    					<img src="https://www.montpellier-business-plan.com/images/design/header/logo-mbp.jpg" alt="" />
    				</a>
    			</div>

    			<div class="clearer"></div> -->

    			    				<div class="menu-login-absolute display-menu">
    					<div class="top"></div>
    					<form class="content" action="https://www.montpellier-business-plan.com/en" method="post">
    						<div class="margeur-l10">
    							<label for="email">E-mail <span class="rouge">*</span></label><br />
    							<input type="text" class="type-text margeur-3" id="email" name="email" value="" />
    						</div>

    						<div class="margeur-10 margeur-l10">
    							<label for="password">Password <span class="rouge">*</span></label><br />
    							<input type="password" class="type-text margeur-3" id="password" name="password" value="" />
    						</div>

    						<ul class="margeur-10">
    							<li>
    								<a ../en/login" class=""> Invitation code ?</a>
    							</li>

    							<li>
    								<a ../en/inscription" title="Create a new account">
    									Create a new account    								</a>
    							</li>

    							<li>
    								<a ../en/recuperation-mot-de-passe" title="Lost password">
    									Lost password    								</a>
    							</li>
    						</ul>

    						<div class="margeur-10 margeur-l10">
    							<input type="hidden" name="login-form" value="post" />
    							<input type="submit" class="type-submit" value="Connexion" />
    						</div>
    					</form>
    				</div>
    			
    			<div style="position:absolute;top:0px;right:0px;">
    				<div class="fright container-menu">
    					    						<div class="bloc-user-login fleft display-menu">
    							<h2 class="bloc-moncompte">
    								Connection    							</h2>
    						</div>
    					
    					
    					<ul class="menu fright">
    						    						    						<li>
    							<a ../en/inscription" title="Inscription">
    								Sign up    							</a>
    						</li>
    						
    						<!--
    						<li>
    							<a href="http://support.montpellier-technopole.com/" target="_blank" title="FAQ">
    								FAQ
    							</a>
    						</li>
    						 -->

    						<li class="clearer"></li>
    					</ul>

    					<div class="clearer"></div>
    				</div>

    				<ul class="fright margeur-8 margeur-r30">
    					    						<li class="fleft">
    							<a ../fr" class="blanc">
    								FR
    							</a>
    						</li>

    						<li class="fleft margeur-l20">
    							<a ../en" class="blanc">
    								EN
    							</a>
    						</li>
    					
    					<li class="clearer"></li>
    				</ul>

    				<div class="clearer"></div>
    			</div>
    		</div>

    	</div>

                	
<div class="contenu-unlimited">
	<div class="container">
		<div class="content" style="width:100%">

			<div class="top-blocs">
									<div class="homebloc">
		
			<h1>Montpellier Business Plan</h1>
	
			<div class="row">
							<div class="col-sm-5">
				  	<img src="https://www.montpellier-business-plan.com/upload/homepage/93d69ec4eb1df03a3a229027e236d997.jpg" alt="Montpellier Business Plan" class="fleft margeur-r30" width="100%" />
				</div>
			
			<div class="col-sm-7">
				<div class="texte">
					<p>Are you creating an innovative company? Are your financial contacts asking for a business plan but you don&#39;t know where to begin?<br />
<br />
Use the new online version of Montpellier Business Plan and give your future partners confidence in your project.<br />
<br />
Montpellier Business Plan was created by the Montpellier Business and Innovation Centre (BIC), leveraging its 25 years of experience assisting startups. Montpellier Business Plan provides you with a complete method that enables you to forecast your activity in a simple and comprehensive manner.<br />
<a href="http://montpellier-business-plan.com/en/p/5/elaborate-your-business-plan">Read more</a><br />
<br />
Free application available via a regular Internet connection.<br />
<br />
<span class="bouton-unlimited"><a href="http://montpellier-business-plan.com/en/signup">Connect now!</a></span></p>				</div>
			</div>
		</div>
	

	

	
	</div>
							</div>

			
												<div class="row">
						<div class="col-sm-6">
							<div class="left-blocs">
								<div class="homebloc">
		
			<h2>5 reasons to use Montpellier Business Plan</h2>
	
			<div class="row">
			
			<div class="col-sm-12">
				<div class="texte">
					<p><img alt="" src="/upload/images/numero_1.jpg" style="height:30px; vertical-align:middle; width:25px" /> <strong>Available anywhere, compatible with all types of digital terminals</strong></p>

<p><img alt="" src="/upload/images/numero_2.jpg" style="height:30px; vertical-align:middle; width:25px" /> <strong>Perfect for experimenting with different business models</strong></p>

<p><img alt="" src="/upload/images/numero_3.jpg" style="height:30px; vertical-align:middle; width:25px" /> <strong>Collaboration-based tool for sharing your projections with partners</strong></p>

<p><img alt="" src="/upload/images/numero_4.jpg" style="height:30px; vertical-align:middle; width:25px" /> <strong>Adapted to the needs of innovative companies (&quot;Young Innovative Company&quot; status, research tax credits, etc.)</strong></p>

<p><img alt="" src="/upload/images/numero_5.jpg" style="height:30px; vertical-align:middle; width:25px" /> <strong>Automatic conversion of business plan into French or Anglo-Saxon formats</strong></p>

<p>&nbsp;</p>

<p><span class="bouton-unlimited"><a href="http://montpellier-business-plan.com/en/p/5/elaborate-your-business-plan">Find out more...+</a></span></p>				</div>
			</div>
		</div>
	

	

	
	</div>
							</div>
						</div>

						<div class="col-sm-6">
															<div class="right-blocs">
									<div class="homebloc">
		
			<h2>Montpellier Business and Innovation Centre</h2>
	
			<div class="row">
			
			<div class="col-sm-12">
				<div class="texte">
					<ul>
	<li><a href="http://www.entreprendre-montpellier.com/entreprendre-creer-son-entreprise-montpellier/etre-accompagne-par-le-bic-de-montpellier">Dedicated coach ...+</a></li>
	<li>Operational programs <a href="http://www.entreprendre-montpellier.com/entreprendre-creer-son-entreprise-montpellier/acceder-des-marches">to develop your business ...+</a></li>
	<li>Specific assistance <a href="http://www.entreprendre-montpellier.com/entreprendre-creer-son-entreprise-montpellier/acceder-des-financements">to access public and private funding ...+</a></li>
	<li><a href="https://www.montpellier-unlimited.com/fr/entreprendre-creer-son-entreprise-montpellier/acceder-des-reseaux-et-des-partenaires">Privileged access to business networks </a> and fast integration into the entrepreneurial ecosystem<a href="http://www.entreprendre-montpellier.com/entreprendre-creer-son-entreprise-montpellier/acceder-des-reseaux-et-des-partenaires">...+</a></li>
	<li><a href="http://www.entreprendre-montpellier.com/entreprendre-creer-son-entreprise-montpellier/trouver-la-solution-immobiliere-adaptee-son-projet">Incubation sites </a> Incubation sites <a href="http://www.entreprendre-montpellier.com/entreprendre-creer-son-entreprise-montpellier/trouver-la-solution-immobiliere-adaptee-son-projet">...+</a></li>
</ul>

<p>Join our community of 150 startups and 500 innovative companies.</p>

<p><span class="bouton-unlimited"><a href="http://www.entreprendre-montpellier.com/form/demande-daccompagnement-pour-la-creation-dune-entreprise-innovante">Apply now!</a></span></p>				</div>
			</div>
		</div>
	

	

	
	</div>
								</div>
													</div>
					</div>
									<div class="row">
						<div class="col-sm-6">
							<div class="left-blocs">
								<div class="homebloc">
		
			<h2>Testimonials from people who chose Montpellier Business Plan</h2>
	
	

			<div class="citation" id="citation-1">
			<div class="quote-container">
				<p class="quote">
					<img src="https://www.montpellier-business-plan.com/images/design/guillemet-open.png" alt="" class="open" />
										The Montpellier Business Plan tool is well structured and progressive, helping us to confirm each hypothesis in our business plan while giving us an opportunity to correct some inconsistencies. This intuitive and user-friendly application also enabled us to revisit the structure of our projected cashflow.
										<img src="https://www.montpellier-business-plan.com/images/design/guillemet-close.png" alt="" style="vertical-align:text-top" class="close" />
				</p>
			</div>

			<p class="signature homme">
								Wieger Mensonides, Director of CLOSING TOOLS<br />
				User of Montpellier Business Plan
							</p>
		</div>

		<div class="citation" id="citation-2">
			<div class="quote-container">
				<p class="quote">
					<img src="https://www.montpellier-business-plan.com/images/design/guillemet-open.png" alt="" class="open" />
										For my first experience with a business plan, I found this software very intuitive and very well designed. The various tables are linked to each other and figures are applied automatically in calculations. This results in realistic simulations. In addition, I can use the app with my tablet and easily show detailed figures to the consultant assisting me with the project to create a company.
										<img src="https://www.montpellier-business-plan.com/images/design/guillemet-close.png" alt="" style="vertical-align:text-top" class="close" />
				</p>
			</div>

			<p class="signature homme">
								Francis Romano, Project leader<br />
				User of Montpellier Business Plan
							</p>
		</div>

		<div class="citation" id="citation-3">
			<div class="quote-container">
				<p class="quote">
					<img src="https://www.montpellier-business-plan.com/images/design/guillemet-open.png" alt="" class="open" />
										We created our business plan using the online Montpellier Business Plan application without having any particular knowledge about business plans. The software is flexible and intuitive enough to work with easily. We also appreciated its ability to create scenario variations, which enabled us to consider several different options for developing our company.
										<img src="https://www.montpellier-business-plan.com/images/design/guillemet-close.png" alt="" style="vertical-align:text-top" class="close" />
				</p>
			</div>

			<p class="signature homme">
								Nicolas Taillade, CEO of MECATRAN<br />
				User of Montpellier Business Plan
							</p>
		</div>

		<div class="citation" id="citation-4">
			<div class="quote-container">
				<p class="quote">
					<img src="https://www.montpellier-business-plan.com/images/design/guillemet-open.png" alt="" class="open" />
										My future associate and I were able to share our forecast online and work remotely. We both could view the impact of the changes we made during our discussions, in real-time.  It is easy to print tables and export data to Excel, which, for example, is useful for creating graphs.
										<img src="https://www.montpellier-business-plan.com/images/design/guillemet-close.png" alt="" style="vertical-align:text-top" class="close" />
				</p>
			</div>

			<p class="signature homme">
								Jérôme Imbert, Project leader<br />
				User of Montpellier Business Plan
							</p>
		</div>

		<div class="citation" id="citation-5">
			<div class="quote-container">
				<p class="quote">
					<img src="https://www.montpellier-business-plan.com/images/design/guillemet-open.png" alt="" class="open" />
										Easy to learn and educational, Montpellier Business Plan gives company founders a way to structure their financial approach. It provides a solid foundation for communicating financial details with the project's partners.
										<img src="https://www.montpellier-business-plan.com/images/design/guillemet-close.png" alt="" style="vertical-align:text-top" class="close" />
				</p>
			</div>

			<p class="signature homme">
								Luc Petiteau, Auditor at SOFIRA EXPERTISE<br />
				User of Montpellier Business Plan
							</p>
		</div>

		<div class="pagination-quote acenter margeur-40">
							<a href="#" class="liencitation margeur-l10" id="liencitation-1">
					<img src="https://www.montpellier-business-plan.com/images/design/quote.png" alt="" class="inactive" />
					<img src="https://www.montpellier-business-plan.com/images/design/quote-active.png" alt="" class="active" />
				</a>
							<a href="#" class="liencitation margeur-l10" id="liencitation-2">
					<img src="https://www.montpellier-business-plan.com/images/design/quote.png" alt="" class="inactive" />
					<img src="https://www.montpellier-business-plan.com/images/design/quote-active.png" alt="" class="active" />
				</a>
							<a href="#" class="liencitation margeur-l10" id="liencitation-3">
					<img src="https://www.montpellier-business-plan.com/images/design/quote.png" alt="" class="inactive" />
					<img src="https://www.montpellier-business-plan.com/images/design/quote-active.png" alt="" class="active" />
				</a>
							<a href="#" class="liencitation margeur-l10" id="liencitation-4">
					<img src="https://www.montpellier-business-plan.com/images/design/quote.png" alt="" class="inactive" />
					<img src="https://www.montpellier-business-plan.com/images/design/quote-active.png" alt="" class="active" />
				</a>
							<a href="#" class="liencitation margeur-l10" id="liencitation-5">
					<img src="https://www.montpellier-business-plan.com/images/design/quote.png" alt="" class="inactive" />
					<img src="https://www.montpellier-business-plan.com/images/design/quote-active.png" alt="" class="active" />
				</a>
					</div>
	

	
	</div>
							</div>
						</div>

						<div class="col-sm-6">
															<div class="right-blocs">
									<div class="homebloc">
		
			<h2>Agenda</h2>
	
	

	

	
	
		
		<div class="fright">
			<a href="http://www.entreprendre-montpellier.com/agenda" class="bouton-unlimited small" target="_blank">See all events</a>
		</div>

		<div class="clearer"></div>

	</div>
								</div>
													</div>
					</div>
							
			<div class="clearer"></div>

			<div class="bottom-blocs">
							</div>
		</div>

		<div class="clearer"></div>
	</div>
</div>
        
        <div id="corps">
        	<div class="container">
        		        	</div>
        </div>

        <div id="footer">
            <div class="container">
                <div class="clearer">&nbsp;</div>
                <div class="margeur-15"></div>

                <div class="acenter">
                    <img src="https://www.montpellier-business-plan.com/images/design/footer_logo_agglo.png" alt="" height="100" />
                </div>

                <ul class="liens">
                    <li class="fleft">
                                                    <a title="" href="http://www.entreprendre-montpellier.com/form/demande-daccompagnement-pour-la-creation-dune-entreprise-innovante" target="_blank">1-minute form</a>
                                            </li>

                    <li class="fleft">
                        <a title="../en/conditions-generales-d-utilisation">End-User Licence Agreement </a>
                    </li>

                    <li class="fleft">
                        <a title="" ../en/mentions-legales">Legal</a>
                    </li>

                    <li class="fleft">
                        <a title="" ../en/credits">Credits</a>
                    </li>

                    <li class="clearer"></li>
                </ul>

                <div class="acenter margeur-25 fs-12">
                    © Montpellier Méditerranée Métropole 2019                </div>
            </div>
        </div>

        <div id="commentremplir">
            <div class="clearer"></div>
            <div class="margeur-15"></div>

            <div class="bouton-close">
                <a href="#" id="hide-commentremplir" class="no_alert_a_sauvegarder">
                    <i class="fa fa-times-circle-o fs-20"></i>
                </a>
            </div>

            <div class="content"></div>
        </div>
    </body>
</html>

{% endif %}