
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

                	<title>Montpellier Business Plan</title>
        
        <meta name="Description" content="Le Montpellier Business Plan vous permet gratuitement, en ligne ou hors ligne, et en toute sécurité de simuler vos chiffres financiers. Intégrant les modèles économiques les plus récents vous pourrez ainsi piloter votre activité avec une vision claire des flux financiers, que vous pouvez partager avec vos interlocuteurs." />
        <meta name="keywords" content="business plan, simulation financière, business model, SaaS, On line, En ligne, gratuit, ergonomique, flux financiers, comptabilité analytique, JEI, CIR, levée de fonds, financement privé" />

        <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700italic,600italic,600,400italic' rel='stylesheet' type='text/css'>

                	        		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/reset.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/generic.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery-ui-1.9.0.custom.min.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery.gritter.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery.jqzoom.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/buttons.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/breadcrumbs.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/alertify.core.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/alertify.default.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/modal.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/styles.css" rel="stylesheet" type="text/css" />
        	        
                	        		<link href="css/print.css" rel="stylesheet" type="text/css" media="print" />
        	        
        <link href="https://fast.fonts.com/cssapi/f05d5db4-4276-4aa0-b2f2-6567ca2132d9.css" rel="stylesheet" type="text/css" />

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-19329583-20', 'montpellier-business-plan.com');
          ga('send', 'pageview');

        </script>

        <!--[if IE 6]>
        	<link rel="stylesheet" type="text/css" href="https://www.montpellier-business-plan.com/css/ie6.css" media="screen" />
        <![endif]-->

        <script type="text/javascript">
        	var site_url = 'https://www.montpellier-business-plan.com/';
        	var base_url = 'https://www.montpellier-business-plan.com/';
        	var lang_url = 'en';
        	var current_url = 'https://www.montpellier-business-plan.com/en/recuperation-mot-de-passe';
        </script>


                	        		<script src="js/jquery-1.10.2.min.js" type="text/javascript" ></script>
        	        		<script src="js/jquery-ui.min.js" type="text/javascript" ></script>
        	        		<script src="js/bootstrap.min.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.gritter.min.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.lightbox-0.5.min.js" type="text/javascript" ></script>
        	        		<script src="js/modal.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.general.js" type="text/javascript" ></script>
        	        		<script src="js/jqFancyTransitions.1.8.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.backgroundposition.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.scrollfollow.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.jqzoom-core-pack.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.animate-colors.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.token.js" type="text/javascript" ></script>
        	        		<script src="js/phpjs.min.js" type="text/javascript" ></script>
        	        		<script src="js/alertify.min.js" type="text/javascript" ></script>
        	        		<script src="js/highcharts.js" type="text/javascript" ></script>
        	        		<script src="js/highcharts-more.js" type="text/javascript" ></script>
        	        		<script src="js/highcharts.init.js" type="text/javascript" ></script>
        	        		<script src="js//highcharts_modules/exporting.js" type="text/javascript" ></script>
        	        
        
        
        <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="images/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>

    
    <body>
    	<div id="header" class="header-content">

          <!--[if lt IE 9]>
          <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
            <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
            <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
              <div style='width: 75px; float: left;'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-warning.jpg' alt='Warning!'/></div>
              <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
                <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>Vous utilisez un navigateur dépassé !</div>
                <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>Afin utiliser le Montpellier Business Plan correctement, prenez le temps de mettre votre navigateur à jour.</div>
              </div>
              <div style='width: 75px; float: left;'><a href='http://fr.www.mozilla.com/fr/' target='_blank'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
              <div style='width: 75px; float: left;'><a href='http://www.microsoft.com/fr-fr/download/internet-explorer.aspx' target='_blank'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer'/></a></div>
              <div style='width: 73px; float: left;'><a href='http://www.apple.com/fr/safari/download/' target='_blank'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
              <div style='float: left;'><a href='http://www.google.com/chrome?hl=fr' target='_blank'><img src='https://www.montpellier-business-plan.com/images/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
            </div>
          </div>
          <![endif]-->
          {% block container_relative %}

    		<div class="container relative" style="height:115px;">
    			<!-- <div class="margeur-30 fleft">
    				<a href="https://www.montpellier-business-plan.com/en">
    					<img src="https://www.montpellier-business-plan.com/images/design/header/logo-mmm.jpg" alt="" />
    				</a>
    			</div>

    			<div class="fleft hidden-xs hidden-sm">
    				<a href="https://www.montpellier-business-plan.com/en">
    					<img src="https://www.montpellier-business-plan.com/images/design/header/logo-mbp.jpg" alt="" />
    				</a>
    			</div>

    			<div class="clearer"></div> -->

    			    				<div class="menu-login-absolute display-menu">
    					<div class="top"></div>
    					<form class="content" action="https://www.montpellier-business-plan.com/en/recuperation-mot-de-passe" method="post">
    						<div class="margeur-l10">
    							<label for="email">E-mail <span class="rouge">*</span></label><br />
    							<input type="text" class="type-text margeur-3" id="email" name="email" value="" />
    						</div>

    						<div class="margeur-10 margeur-l10">
    							<label for="password">Password <span class="rouge">*</span></label><br />
    							<input type="password" class="type-text margeur-3" id="password" name="password" value="" />
    						</div>

    						<ul class="margeur-10">
    							<li>
    								<a href="https://www.montpellier-business-plan.com/en/login" class=""> Invitation code ?</a>
    							</li>

    							<li>
    								<a href="https://www.montpellier-business-plan.com/en/inscription" title="Create a new account">
    									Create a new account    								</a>
    							</li>

    							<li>
    								<a href="https://www.montpellier-business-plan.com/en/recuperation-mot-de-passe" title="Lost password">
    									Lost password    								</a>
    							</li>
    						</ul>

    						<div class="margeur-10 margeur-l10">
    							<input type="hidden" name="login-form" value="post" />
    							<input type="submit" class="type-submit" value="Connexion" />
    						</div>
    					</form>
    				</div>
    			
    			<div style="position:absolute;top:0px;right:0px;">
    				<div class="fright container-menu">
    					    						<div class="bloc-user-login fleft display-menu">
    							<h2 class="bloc-moncompte">
    								Connection    							</h2>
    						</div>
    					
    					
    					<ul class="menu fright">
    						    						    						<li>
    							<a href="https://www.montpellier-business-plan.com/en/inscription" title="Inscription">
    								Sign up    							</a>
    						</li>
    						
    						<!--
    						<li>
    							<a href="http://support.montpellier-technopole.com/" target="_blank" title="FAQ">
    								FAQ
    							</a>
    						</li>
    						 -->

    						<li class="clearer"></li>
    					</ul>

    					<div class="clearer"></div>
    				</div>

    				<ul class="fright margeur-8 margeur-r30">
    					    						<li class="fleft">
    							<a href="https://www.montpellier-business-plan.com/fr" class="blanc">
    								FR
    							</a>
    						</li>

    						<li class="fleft margeur-l20">
    							<a href="https://www.montpellier-business-plan.com/en" class="blanc">
    								EN
    							</a>
    						</li>
    					
    					<li class="clearer"></li>
    				</ul>

    				<div class="clearer"></div>
    			</div>
    		</div>

    	</div>
        

        
{% endblock %}   
{% block content %} {% endblock %}   
{% block footer %}

        <div id="footer">
            <div class="container">
                <div class="clearer">&nbsp;</div>
                <div class="margeur-15"></div>

                <div class="acenter">
                    <img src="https://www.montpellier-business-plan.com/images/design/footer_logo_agglo.png" alt="" height="100" />
                </div>

                <ul class="liens">
                    <li class="fleft">
                                                    <a title="" href="http://www.entreprendre-montpellier.com/form/demande-daccompagnement-pour-la-creation-dune-entreprise-innovante" target="_blank">1-minute form</a>
                                            </li>

                    <li class="fleft">
                        <a title="" href="https://www.montpellier-business-plan.com/en/conditions-generales-d-utilisation">End-User Licence Agreement </a>
                    </li>

                    <li class="fleft">
                        <a title="" href="https://www.montpellier-business-plan.com/en/mentions-legales">Legal</a>
                    </li>

                    <li class="fleft">
                        <a title="" href="https://www.montpellier-business-plan.com/en/credits">Credits</a>
                    </li>

                    <li class="clearer"></li>
                </ul>

                <div class="acenter margeur-25 fs-12">
                    © Montpellier Méditerranée Métropole 2019                </div>
            </div>
        </div>

        <div id="commentremplir">
            <div class="clearer"></div>
            <div class="margeur-15"></div>

            <div class="bouton-close">
                <a href="#" id="hide-commentremplir" class="no_alert_a_sauvegarder">
                    <i class="fa fa-times-circle-o fs-20"></i>
                </a>
            </div>

            <div class="content"></div>
        </div>
        {% endblock %}
    </body>
</html>
