<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Mail de confirmation </title>
</head>
<body>
<p>
<h1> Bonjour </h1>
    Cliqurz ci dessous sur le lien pour pouvez vous activez votre compte 
    <a href="{{url}}" class="btn btn-primary btn-lg square" role="button">Cliquez ici</a>

    
  
 
</p>
 
<p>
<div>
 
</div>
   
</p>
</body>
</html>