
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Montpellier Business Plan</title>

                                        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
                            <link href="css/reset.css" rel="stylesheet" type="text/css" />
                            <link href="css/generic.css" rel="stylesheet" type="text/css" />
                            <link href="css/jquery-ui-1.9.0.custom.min.css" rel="stylesheet" type="text/css" />
                            <link href="css/jquery.gritter.css" rel="stylesheet" type="text/css" />
                            <link href="css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
                            <link href="css/jquery.jqzoom.css" rel="stylesheet" type="text/css" />
                            <link href="css/buttons.css" rel="stylesheet" type="text/css" />
                            <link href="css/breadcrumbs.css" rel="stylesheet" type="text/css" />
                            <link href="css/alertify.core.css" rel="stylesheet" type="text/css" />
                            <link href="css/alertify.default.css" rel="stylesheet" type="text/css" />
                            <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
                            <link href="css/modal.css" rel="stylesheet" type="text/css" />
                            <link href="css/styles.css" rel="stylesheet" type="text/css" />
                            <link href="css/dashboard.css" rel="stylesheet" type="text/css" />
                            <link href="css/dashboard-2.css" rel="stylesheet" type="text/css" />
                    
                                    <link href="css/print.css" rel="stylesheet" type="text/css" media="print" />
                        
            <script type="text/javascript">
            var site_url = 'https://www.montpellier-business-plan.com/';
            var base_url = 'https://www.montpellier-business-plan.com/';
            var lang_url = 'fr';
            var current_url = 'https://www.montpellier-business-plan.com/mon-compte';
        </script>

                                    <script src="js/jquery-1.10.2.min.js" type="text/javascript" ></script>
                            <script src="js/jquery-ui.min.js" type="text/javascript" ></script>
                            <script src="js/bootstrap.min.js" type="text/javascript" ></script>
                            <script src="js/jquery.gritter.min.js" type="text/javascript" ></script>
                            <script src="js/jquery.lightbox-0.5.min.js" type="text/javascript" ></script>
                            <script src="js/modal.js" type="text/javascript" ></script>
                            <script src="js/jquery.general.js" type="text/javascript" ></script>
                            <script src="js/jqFancyTransitions.1.8.js" type="text/javascript" ></script>
                            <script src="js/jquery.backgroundposition.js" type="text/javascript" ></script>
                            <script src="js/jquery.scrollfollow.js" type="text/javascript" ></script>
                            <script src="js/jquery.jqzoom-core-pack.js" type="text/javascript" ></script>
                            <script src="js/jquery.animate-colors.js" type="text/javascript" ></script>
                            <script src="js/jquery.token.js" type="text/javascript" ></script>
                            <script src="js/phpjs.min.js" type="text/javascript" ></script>
                            <script src="js/alertify.min.js" type="text/javascript" ></script>
                            <script src="js/highcharts.js" type="text/javascript" ></script>
                            <script src="js/highcharts-more.js" type="text/javascript" ></script>
                            <script src="js/highcharts.init.js" type="text/javascript" ></script>
                            <script src="js//highcharts_modules/exporting.js" type="text/javascript" ></script>
                            <script src="js/espace_client/tableaux.js" type="text/javascript" ></script>
                            <script src="js/espace_client/commentaires.js" type="text/javascript" ></script>
                    
        
            
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">

        
            <div class="col-md-3 left_col">
              <div class="left_col scroll-view">
                  <!--
                  <div class="navbar nav_title acenter" style="border: 0; height:auto;">
                    <a href="https://www.montpellier-business-plan.com/mes-business-plan">
                       <img src="https://www.montpellier-business-plan.com/images/design/header/logo-mmm-only-white.png" alt="" />
                    </a>
                  </div>

                <div class="clearfix"></div>

                <br />-->

                <div style="height:25px; width:230px;"></div>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                  <div class="menu_section">
                    <h3>Business plans</h3>
                    <ul class="nav side-menu">
                      <li>
                          <a href="{{path('dashboard')}}"><i class="fa fa-list"></i> Tous </a>
                      </li>

                                                <li>
                              <a href="{{path('businessplan_create')}}"><i class="fa fa-plus"></i> Nouveau </a>
                          </li>
                      
                      
                    </ul>
                  </div>
                  <!-- <div class="menu_section">
                    <h3>Autre</h3>
                    <ul class="nav side-menu">
                      <li>
                          <a href="http://montpellier-business-plan.mynelis.com" target="_blank"><i class="fa fa-bug"></i> Support </a>
                      </li>
                    </ul>
                  </div> -->

                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                  <a href="http://www.bic-montpellier.com/fr/notre-offre/montpellier-business-planne" data-toggle="tooltip" data-placement="top" title="Accueil">
                      <i class="fa fa-home"></i>
                  </a>
                  <a href="{{path('parametres')}}" data-toggle="tooltip" data-placement="top" title="Paramètres">
                      <i class="fa fa-cog"></i>
                  </a>
                  <a href="https://www.montpellier-business-plan.com/espace_client/espace_client/ajax_commentremplir/bp" class="open-modal" data-toggle="tooltip" data-placement="top" title="Aide">
                      <i class="fa fa-question-circle"></i>
                  </a>
                  <a href="{{path('app_logout')}}" data-toggle="tooltip" data-placement="top" title="Se déconnecter">
                      <i class="fa fa-power-off"></i>
                  </a>
                </div>
                <!-- /menu footer buttons -->
              </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
              <div class="nav_menu">
                <nav>
                  <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                  </div>

                <!--   <div class="logo-line">
                    <img src="https://www.montpellier-business-plan.com/images/design/header/logo-mbp.jpg" alt="" />
                  </div> -->

                  <ul class="nav navbar-nav navbar-right">
                    <li class="">
                      <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                       {{app.user.username}}                      <span class=" fa fa-angle-down"></span>
                      </a>
                      <ul class="dropdown-menu dropdown-usermenu pull-right">
                                                        <li>
                                  <a href="{{path('dashboard')}}" title="Mes business plans">
                                      Mes business plans                                  </a>
                              </li>

                              <li>
                                  <a href="{{path('parametres')}}" title="Mon compte">
                                      Mon compte                                  </a>
                              </li>
                          
                          <li>
                              <a href="{{path('app_logout')}}" title="Se déconnecter">
                                  Se déconnecter                              </a>
                          </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- /top navigation -->
        
        <!-- page content -->
        <div class="right_col" role="main">
                            <h1>Mon compte</h1>

<ul class="liste margeur-20">
	<li>
		<a href="https://www.montpellier-business-plan.com/mon-compte/modifier-email" title="Modifier mon e-mail">
			Modifier mon email		</a>
	</li>
	
	<li>
		<a href="https://127.0.0.1:8000/MonCompte/change_password" title="Modifier mon mot de passe">
			Modifier mon mot de passe		</a>
	</li>
</ul>

<table class="tableau margeur-20">
	<tr>
		<td>
			langue		</td>
		
		<td>
			Français 
			(<a href="https://www.montpellier-business-plan.com/mon-compte/changer-langue" title="Changer de langue">Changer</a>)

		</td>
	</tr>
	
	<tr>
		<td>
			Affichage des popups salariés		</td>
		
		<td>
			Oui 
			(<a href="https://www.montpellier-business-plan.com/espace_client/compte/changer_popup" title="Changer">Changer</a>)
		</td>
	</tr>
	
	<tr>
		<td>
			Inclure les commentaires dans les exports Excel		</td>
		
		<td>
			Oui			(<a href="https://www.montpellier-business-plan.com/espace_client/compte/export_commentaires" title="Changer">Changer</a>)
		</td>
	</tr>
	
	<tr>
		<td>
		Inclure les notes dans les exports Excel		</td>
		
		<td>
			Oui			(<a href="https://www.montpellier-business-plan.com/espace_client/compte/export_notes" title="Changer">Changer</a>)
		</td>
	</tr>
</table>
                    </div>
        <!-- /page content -->

                    <!-- footer content -->
            <footer>
              <div class="pull-left">
                  &copy; Montpellier Méditerranée Métropole 2019                  -
                  <a title="" href="https://www.montpellier-business-plan.com/fr/conditions-generales-d-utilisation">Conditions générales d'utilisation</a>
                  -
                  <a title="" href="https://www.montpellier-business-plan.com/fr/mentions-legales">Mentions légales</a>
                  -
                  <a title="" href="https://www.montpellier-business-plan.com/fr/credits">Crédits</a>
              </div>
              <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->

            <div id="commentremplir">
                <div class="clearer"></div>
                <div class="margeur-15"></div>

                <div class="bouton-close">
                    <a href="#" id="hide-commentremplir" class="no_alert_a_sauvegarder">
                        <i class="fa fa-times-circle-o fs-20"></i>
                    </a>
                </div>

                <div class="content"></div>
            </div>
        
        <script src="https://www.montpellier-business-plan.com/js/dashboard.js" type="text/javascript" ></script>
      </div>
    </div>

    <!-- Modals -->
        	<div class="modal fade modal-popup-confirm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-modal-popup-confirm-confirm">Confirmer</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>    	<div class="modal fade" id="dynamicmodal-lg" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal">
		    		<i class="fa fa-times-circle-o"></i>
		  			<span class="sr-only">Fermer</span>
		    	</button>
		    	<h1 class="modal-title" id="myModalLabel"></h1>
		    </div>

			<div class="dynamic-container">

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="dynamicmodal-sm" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal">
		    		<i class="fa fa-times-circle-o"></i>
		  			<span class="sr-only">Fermer</span>
		    	</button>
		    	<h1 class="modal-title" id="myModalLabel"></h1>
		    </div>

			<div class="dynamic-container">

			</div>
		</div>
	</div>
</div>
    
  </body>
</html>
